# Виртуальное окружение
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных (создаётся автоматически)
lab_works.db

# VS Code
.vscode/

# Прочее
*.log
.DS_Store